<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Portdex"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.login.business.LoginBusinessActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".presentation.login.verify.VerifyActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.profile.ProfileActivity"
            android:exported="false"
            android:label="@string/label_profile" />
        <activity
            android:name=".presentation.providersList.ProvidersListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.providersList.detail.ProviderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.chat.activity.ChatActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Chat" />
        <activity
            android:name=".presentation.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.post.JobPostActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.store.StoreActivity"
            android:exported="false" />

        <service
            android:name=".data.remote.xmpptcp.service.XMPPServiceImpl"
            android:exported="false"
            android:stopWithTask="false" />
    </application>

</manifest>